body {
  background-color: #FFFFFF;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #4267B2;
}

a {
  text-decoration: none;
}

nav li {
  display: inline-block;
}

.icon {
  display: inline-block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.facebook-logo {
  float: left;
  width: 24px;
  height: 24px;
  background-image: url("images/facebook-logo.png");
}

.search-bar {
  float: left;
}

.search-icon {
  float: right;
  width: 28px;
  height: 28px;
  background: #F6F7F9 url("images/magnifying-glass.png");
}

.search-icon:hover {
  background-color: #E9EBEE;
}

.profile-navigation ul {
  padding: 0px;
  margin: 0px;
}

.account-switcher {
  width: 20px;
  height: 18px;
  background-image: url("images/people-black.png");
}

.add-friends {
  width: 12px;
  height: 7px;
  background-image: url("images/friends-gray.png");
}

.messages {
  width: 20px;
  height: 20px;
  background-image: url("images/messenger-black.png");
}

.notifications {
  width: 14px;
  height: 14px;
  background-image: url("images/world-black.png");
}

.quick-help {
  width: 14px;
  height: 14px;
  background-image: url("images/question-black.png");
}

.quick-settings {
  width: 18px;
  height: 11px;
  background-image: url("images/arrow-black.png");
}
